:root {
  --accent-color: #2196f3;
  --text-color-main: #212121;
  --text-color-secondary: #757575;
  --background-color-main: #ffffff;
  --background-color-secondary: #2f303a;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color-main);
  background-color: var(--background-color-main);
}

/* ----------------------------------------Скидування стилів/Утиліти---------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

svg {
  display: block;
  outline: 1px solid green;
}

img {
  display: block;
  outline: 1px solid red;
}

.primary {
  background-color: teal;
}

.secondary {
  background-color: tomato;
  text-align: center;
}
.test {
  background-color: yellow;
}

.advantage-list {
  display: flex;
}

.client-list {
  display: flex;
}
