:root {
  --accent-color: #2196f3;
  --text-color-main: #212121;
  --text-color-secondary: #757575;
  --background-color-main: #ffffff;
  --background-color-secondary: #2f303a;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color-main);
  background-color: var(--background-color-main);
}

/* ----------------------------------------Скидування стилів/Утиліти---------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

svg {
  display: block;
  outline: 1px solid green;
}

img {
  display: block;
  outline: 1px solid red;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.primary {
  background-color: teal;
}

.secondary {
  background-color: #ffffff;
  text-align: center;
}
.test {
  background-color: yellow;
}

.advantage-list {
  display: flex;
}

.client-list {
  display: flex;

  gap: 30px;
}

.title {
  margin-bottom: 50px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.client-list-item {
  display: flex;
  justify-content: center;
  outline: 1px solid blue;
  width: calc((100% - 150px) / 6);
}

.client-list-link {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.icon-client {
  display: flex;
  justify-content: center;
  text-align: center;
}

.icon-client > use {
  display: flex;
  justify-content: center;
}
