.social-links .link {
    color: teal;
}

.social-links .link:hover,
.social-links .link:focus {
    color: orange;
}

.social-links .link:active {
    color: red;
}
.social-links {
    display: flex;
}

.li:not(:last-child) {
    margin-right: 50px;
}